<div class="alpha-container" ng-controller="TidesPageController">
    <h3>Why is there a high tide?</h3>

    <p>Tides are predominantly the result of the gravity of the moon pulling on the Earth. At any point in time, the point on the Earth closest to the moon is called the sublunar point, and it experiences the strongest tides.</p>
    <p>The moon’s pull on the ocean cancels out part of the Earth’s gravitational pull on the same water. This results in the water being pulled upwards toward the moon. Now, since the total amount of water on earth doesn’t change, the water levels everywhere
        else is a bit lower in order to compensate. The latter effect creates the low tides we know about.</p>
    <p>The Earth rotates on its axis with its period of 27.322 days. This means that at any point on the earth, the tide will repeat approximately once per day, with the high tide occurring where the earth is turning under the moon.</p>
    <p>Here we have discussed the tide nearest to the moon. Keep in mind that there are actually two regions of high tides on Earth at any given point. One of these is at the sublunar point as we discussed. However, there are also high tides at the antipodes,
        or side facing away from the moon. We will elaborate in the “Two High Tides per Day” section.</p>

    <h3>Does gravity affect the Earth’s crust?</h3>
    <p>Well, there might be a correlation between high tides and major earthquakes according to this paper.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/4/49/2010_Chile_earthquake_-_Building_destroyed_in_Concepci%C3%B3n.jpg" style="width:50%;height:50%" class="center-block" />
    <p><i>Image Source: Wikipedia</i></p>
    <p>Even though we mostly see the tides rising and falling due to gravity, the moon’s pull can affect solids like the Earth’s crust as well.</p>

    <p>There is evidence to suggest that the moon’s gravitational pull correlates to major earthquakes like the the 2010 Chile earthquake. It had a magnitude of 8.8 on the moment magnitude scale!</p>

    <p><i>Check out <a href="http://www.nature.com/news/moon-s-pull-can-trigger-big-earthquakes-1.20551" target="_blank">this Nature article</a> for further reading.</i></p>

    <button href ui-sref="tides-topics" class="btn dark-btn home-button"><i class="glyphicon glyphicon-home"></i></button>
    <button href ui-sref="tides-gravity" class="btn dark-btn back-button"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <button href ui-sref="tides-two-high-tides" class="btn dark-btn forward-button"><i class="glyphicon glyphicon-arrow-right"></i></button>
</div>
