<div ng-controller="TidesPageController" class="alpha-container">
	<h1>Final Evaluation</h1>
	<p>This last quiz covers everything discussed in this Tides chapter. Use it to test your knowledge. Good luck!</p>
	<br/>
	<quiz name="final-eval"></quiz>
	<br/>
	<button href ui-sref="tides-topics" class="btn dark-btn home-button"><i class="glyphicon glyphicon-home"></i></button>
    <button href ui-sref="tides-yearly-changes" class="btn dark-btn back-button"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <button href ui-sref="tides-summary" class="btn dark-btn forward-button"><i class="glyphicon glyphicon-arrow-right"></i></button>
</div>
