<div ng-controller="TidesPageController" id="tides-intro-container" class="alpha-container">
    <h3>Why do tides exist?</h3>
    <br/>
    <p>The phenomenon of tides is explained by the force of gravity. Yes, the same gravity that causes apples to fall from trees and things that go up to come down, but on a different scale.</p>
    <p>Gravity is one of the four fundamental forces: every object in the universe exhibits a gravitational pull on every other object. Sometimes we can see its effect during our daily lives, such as when someone drops a pencil on the ground. Other times,
        the force is much less noticeable, such as the pull between two atoms. Even if we can’t observe the gravitational pull between two objects visually, the same force equation applies to all objects. This includes the Earth and its moon.</p>
    <p>Bigger objects, or objects with more mass, exert more gravitational force than smaller objects. The immense mass of the Earth is what keeps all the creatures, buildings, and air on this planet and allows life as we know it to exist. However, the sun
        is 1.3 million times as large as our Earth! We don’t fall into the sun since the sun is very far away, while Earth is directly under our feet. Similarly, the pull of the Earth’s gravity on an astronaut in space is much less than that of those
        on Earth. (Side note: An astronaut in orbit doesn't feel any gravity at all, because it is exactly countered by centrifugal force.) While larger objects generate stronger gravitational forces, the force of gravity falls off rapidly as distance
        increases.
    </p>

    <h3>Try your hand at Gravity!</h3>
    <p>You can create an object by clicking and dragging on a point in space in the following application. The farther you drag, the larger the mass is. To set the magnitude and direction of the initial velocity of a green sphere, click on the sphere and
    drag in the direction you want it to go.</p>
    <h4>Prompts</h4>
    <p>Try adding a planet with a circular orbit around the Earth. <i>Hint: The reason objects stay in orbit is because their force and velocity vectors are perpendicular to each other.</i></p>
    <p>To see a planet with a circular motion around the Earth, press "example 1" in the menu</p>
    <p>To see a planet with a different orbit around the Earth, press "example 2" in the menu</p>

    <div id="game-container"></div>
    <script type="text/javascript" src="scripts/apps/orbit_app.js"></script>

    <button href ui-sref="tides-topics" class="btn dark-btn home-button"><i class="glyphicon glyphicon-home"></i></button>
    <button href ui-sref="tides-introduction" class="btn dark-btn back-button"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <button href ui-sref="tides-gravity" class="btn dark-btn forward-button"><i class="glyphicon glyphicon-arrow-right"></i></button>
</div>
