<div ng-controller="TidesPageController" class="alpha-container">
	<h1>Tides Pre-Evaluation</h1>
	<p>Fill out these questions to test your knowledge of the tides. If you get any questions wrong, don't worry! Each question corresponds with a particular section of the website, covering that topic in depth. </p>
	<br/>
	<quiz name="tides-pre-eval"></quiz>
	<br/>
	<p>If you'd like to start reading from the beginning, hit the arrow to the right. Otherwise, you can return to the table of contents using the arrow to the left.</p>
	<button href ui-sref="tides-topics" class="btn dark-btn home-button"><i class="glyphicon glyphicon-home"></i></button>
    <button href ui-sref="tides-topics" class="btn dark-btn back-button"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <button href ui-sref="tides-introduction" class="btn dark-btn forward-button"><i class="glyphicon glyphicon-arrow-right"></i></button>
</div>
