<div class="alpha-container" ng-controller="TidesPageController">
    <h3>Summary</h3>
    <p>Gravity is everywhere and has a lot of influence on the height of ocean tides. The Sun and the Moon help determine the height. We see regular fluctuations in daily tides due to the differences in the force of gravity on the top of the ocean and the
        land submerged beneath it. We also see annual fluctuations in the height of tides thanks to the elliptical orbits of the Sun and the Moon. Although there are many other factors that also influence the height of tides, gravity is the main one and
        the easiest one to describe.</p>
    <p>For more detailed information, we encourage you to check out Laplace’s tidal equations.</p>

    <button href ui-sref="tides-topics" class="btn dark-btn home-button"><i class="glyphicon glyphicon-home"></i></button>
    <button href ui-sref="tides-final-app" class="btn dark-btn back-button"><i class="glyphicon glyphicon-arrow-left"></i></button
</div>
