<div class="alpha-container" ng-controller="TidesPageController">
    <h3>Why aren’t the tides rising and falling at consistent heights throughout the year?</h3>
    <img src="http://oceanservice.noaa.gov/education/tutorial_tides/media/tide06b_480.gif" />
    <p><i>Image Source: NOAA</i></p>

    <p>One important thing to note is that the Earth and its moon do not move in perfectly circular orbits. In fact, their movements are more elliptical. This means that the distance from the focus of an ellipse to the outer edge is not constant.</p>
    <p>The Earth is closest to the sun during the Perihelon. Likewise, the moon is closest to the earth at the Perigee. If we look back to the gravitational force formula, we’ll notice that the force is inversely proportional to the distance between masses.
        Since the Earth always feels major gravitational pulls from both the Sun and its moon, these pulls are maximized when the distance between the Earth and its moon and the Earth and the Sun are minimized. Or in other words, the Earth receives a
        stronger total gravitational pull when the Perihelion and Perigee coincide. This will deliver the highest tides of the year. As you might expect, these events do not coincide often. Aphelion is just one day a year and Apogee is just one day a
        month.</p>
    <p>A rarer event, dubbed the supermoon, is when the full moon takes place during Perigee. At this point we observe the brightest and biggest full moon possible. The most recent occurrence of this event was November 14, 2016. As you would expect, the
        gravitational force on the Earth from its moon is greater during this time, and we would observe higher tides due to perigean spring tides.</p>

    <h3>Try it out!</h3>
    <quiz name="yearly-changes-questions"></quiz>
    <p><br/></p>

    <button href ui-sref="tides-topics" class="btn dark-btn home-button"><i class="glyphicon glyphicon-home"></i></button>
    <button href ui-sref="tides-two-high-tides" class="btn dark-btn back-button"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <button href ui-sref="tides-final-app" class="btn dark-btn forward-button"><i class="glyphicon glyphicon-arrow-right"></i></button>
</div>
