<div ng-controller="TidesPageController" id="tides-intro-container" class="alpha-container">
    <h3>Why are tidal islands accessible only during certain parts of the day?</h3>
    <p><br/></p>
    <img class="center-block" src="../images/tidalisland.gif" alt="Mont St. Michel" style="width:40%;height:40%;">
    <p><br/></p>
    <p>Mont St. Michel, a French castle built in the 700s, survived the Hundred Years War in part due to its location. At some times of the day, one can simply walk to the island, but during other times of the day, Mont St. Michel is isolated by up to 14
        meters of seawater. There is a land bridge connecting the island to mainland that’s only accessible during specific hours of the day. This natural defense made it very difficult for enemies to attack it during the war.</p>
    <p>But what causes this land bridge? How is it possible for the water level to fluctuate so drastically as to turn it into an island at certain parts of the day?</p>
    <p>The answer to this mystery lies in the phenomenon referred to as tides. Tides refer to how the water level at a given point on the earth will rise and fall depending on the season and time of day. High Tide describes the times of day where the water
        level has reached it’s peak where low tide describes just the opposite: the time of day where the water level is at its lowest.</p>
    <p>It is exactly due to these tides that something like the island of Mont St. Michel and the land bridge connecting it to mainland exist. There are many other occurrences of similar islands that are only connected to mainland during low tide such as
        Enoshima in Japan and Sveti Stefan in Montenegro. These islands are called tidal Islands.</p>
    <p>Ultimately, the sea level varies due to the concept of gravity, which is the force that keeps all of us on the ground. As we will explore throughout this chapter, we will demonstrate why gravity appears to fluctuate over the course of the day and
        cause the oceans to rise and fall.</p>
    <p><br/></p>

    <button href ui-sref="tides-topics" class="btn dark-btn home-button"><i class="glyphicon glyphicon-home"></i></button>
    <button href ui-sref="tides-topics" class="btn dark-btn back-button"><i class="glyphicon glyphicon-arrow-left"></i></button>
    <button href ui-sref="tides-existence" class="btn dark-btn forward-button"><i class="glyphicon glyphicon-arrow-right"></i></button>
</div>
